spring-project/src/main/resources/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.springproject.com/spring/soap/api/user"
            elementFormDefault="qualified">
    <xsd:element name="User">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="email" type="xsd:string"/>
                <xsd:element name="password" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>

